<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/index.css" rel="stylesheet">
    <title>Sys_School</title>
</head>

<body>

    <div class="container">
        <div class="content">
            <div class="divForm">
                <div class="logo">
                    <img src="public/assets/logo.png" alt="">
                    <h1>Universidade</h1>
                </div>
                <div class="selectOpt">
                    <button class="btn" onclick="openForm('aluno')">Aluno</button>
                    <button class="btn" onclick="openForm('professor')">Professor</button>
                    <button class="btn" onclick="openForm('fornecedor')">Fornecedor</button>
                </div>
                <form class="form" action="/cadastro" method="post" id="aluno">
                    <div class="labelForm">
                        <p>Nome</p>
                        <input type="text" name="name">
                    </div>
                    <div class="groupLabel">
                        <div class="labelForm">
                            <p>Data de Nacimento</p>
                            <input type="datetime" name="dataNascimento">
                        </div>
                        <div class="labelForm">
                            <p>CPF</p>
                            <input type="text" name="cpf">
                        </div>
                    </div>
                    <div class="labelForm">
                        <p>Endereço</p>
                        <input type="text" name="endereco">
                    </div>
                    <div class="labelForm">
                        <p>Email</p>
                        <input type="email" name="email">
                    </div>
                    <div class="labelForm">
                        <p>Telefone</p>
                        <input type="text" name="tel">
                    </div>
                    
                    <input type="submit" value="Cadastrar" class="button">
                </form>
                <form class="form" id="professor">
                    <div class="labelForm">
                        <p>Nome</p>
                        <input type="text">
                    </div>
                    <div class="labelForm">
                        <p>CPF</p>
                        <input type="text">
                    </div>
                    <div class="labelForm">
                        <p>Email</p>
                        <input type="email">
                    </div>
                    <div class="labelForm">
                        <p>Endereço</p>
                        <input type="text" name="endereco">
                    </div>
                    <div class="labelForm">
                        <p>Telefone</p>
                        <input type="text">
                    </div>
                    <div class="labelForm">
                        <p>Disciplina</p>
                        <input type="text">
                    </div>
                    
                    <input type="submit" value="Cadastrar" class="button">
                </form>
                <form class="form" id="fornecedor">
                    <div class="labelForm">
                        <p>Nome Fantasia</p>
                        <input type="text">
                    </div>
                    <div class="labelForm">
                        <p>Email</p>
                        <input type="email">
                    </div>
                    <div class="labelForm">
                        <p>CNPJ</p>
                        <input type="text">
                    </div>
                    <div class="labelForm">
                        <p>Endereço</p>
                        <input type="text" name="endereco">
                    </div>
                    <div class="labelForm">
                        <p>Telefone</p>
                        <input type="text">
                    </div>
                    
                    <input type="submit" value="Cadastrar" class="button">
                </form>
            </div>
        </div>
    </div>

    <script src="../js/FormAnimation.js"></script>
</body>

</html>